.header {
  width: 100vw;
  max-width: 1280px;
  min-width: 320px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;

  &__logotipo {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translatex(40px);
    color: white;
  }
}
