.header {
  width: 100vw;
  min-width: 320px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;

  &__logotipo {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translatex(40px);
    color: white;
  }
}
