.navbar {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;

  &__list {
    list-style: none;
    margin: 0 8px;
    cursor: pointer;

    &--item {
      text-decoration: none;
      color: white;
      padding: 5px;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
