nav {
  display: flex;
  align-items: center;
  // width: 50px;
}
.navbar {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;

  &__list {
    list-style: none;
    margin: 0 8px;
    cursor: pointer;

    &--item {
      text-decoration: none;
      color: white;
      padding: 5px;
      font-size: 1.6rem;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
.hamburger {
  display: none;
  & .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
}

@media only screen and (max-width: 920px) {
  .navbar {
    position: fixed;
    right: 0;
    top: 6rem;
    flex-direction: column;
    background-color: #fff;
    width: 140px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    &__list.active {
      left: 0;
    }
    &__list {
      margin: 2.5rem 0;
      &--item {
        color: black;
      }
    }
  }
  .hamburger {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: translateX(-25px);
  }
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
